apiVersion: apps/v1
kind: Deployment
metadata:
  name: judgemod-deploy
  namespace: kolpotoru-prod
  labels:
    app: kolpotoru
    family: judgemod
    genre: deploy
spec:
  selector:
    matchLabels:
      app: kolpotoru
      family: judgemod
      genre: pod
  replicas: 1
  template:
    metadata:
      labels:
        app: kolpotoru
        family: judgemod
        genre: pod
    spec:
      # affinity:
      #   nodeAffinity:
      #     requiredDuringSchedulingIgnoredDuringExecution:
      #       nodeSelectorTerms:
      #       - matchExpressions:
      #         - key: cloud.google.com/gke-preemptible
      #           operator: Exists
      containers:
      - name: judgemod-pod
        image: gcr.io/source-code-oj/judgemod:v2-alpha2.3
        volumeMounts:
        - name: judge-mod-config-volume
          mountPath: /home/judge/judgeMod/sustoj/config.ini
          subPath: config.ini
          readOnly: true
        - name: judge-mod-config-volume
          mountPath: /home/judge/gcs_service_account.json
          subPath: gcs_service_account.json
          readOnly: true
        resources:
          limits:
            cpu: 1000m
            memory: 4098M
      volumes:
      - name: judge-mod-config-volume
        configMap: 
          name: judgemod-config
