apiVersion: v1
kind: ServiceAccount
metadata:
  name: ssl-manager
  namespace: kolpotoru-prod
  labels:
    name: ssl-manager
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRole
metadata:
  name: secret-manager
  labels:
    name: secret-manager
rules:
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["patch"]
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  name: ssl-secret-binding
  namespace: kolpotoru-prod
  labels:
    name: ssl-secret-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: secret-manager
subjects:
  - kind: ServiceAccount
    name: ssl-manager
    namespace: kolpotoru-prod