apiVersion: v1
kind: Secret
metadata:
  name: ssl-key-sustcseoj.com
  namespace: kolpotoru-prod
  labels:
    app: kolpotoru
    family: ssl
    genre: secret
data:
  tls.crt: "Cg=="
  tls.key: "Cg=="
type: kubernetes.io/tls
---
apiVersion: v1
kind: Secret
metadata:
  name: ssl-key-api.sustcseoj.com
  namespace: kolpotoru-prod
  labels:
    app: kolpotoru
    family: ssl
    genre: secret
data:
  tls.crt: "Cg=="
  tls.key: "Cg=="
type: kubernetes.io/tls
---
apiVersion: v1
kind: Secret
metadata:
  name: ssl-key-live.sustcseoj.com
  namespace: kolpotoru-prod
  labels:
    app: kolpotoru
    family: ssl
    genre: secret
data:
  tls.crt: "Cg=="
  tls.key: "Cg=="
type: kubernetes.io/tls
---
apiVersion: v1
kind: Secret
metadata:
  name: ssl-key-judge.sustcseoj.com
  namespace: kolpotoru-prod
  labels:
    app: kolpotoru
    family: ssl
    genre: secret
data:
  tls.crt: "Cg=="
  tls.key: "Cg=="
type: kubernetes.io/tls
---
apiVersion: v1
kind: Secret
metadata:
  name: ssl-key-rmq.sustcseoj.com
  namespace: kolpotoru-prod
  labels:
    app: kolpotoru
    family: ssl
    genre: secret
data:
  tls.crt: "Cg=="
  tls.key: "Cg=="
type: kubernetes.io/tls
---
apiVersion: v1
kind: Secret
metadata:
  name: ssl-key-pmad.sustcseoj.com
  namespace: kolpotoru-prod
  labels:
    app: kolpotoru
    family: ssl
    genre: secret
data:
  tls.crt: "Cg=="
  tls.key: "Cg=="
type: kubernetes.io/tls
---
