apiVersion: apps/v1
kind: Deployment
metadata:
  name: pmad-deploy
  namespace: kolpotoru-prod
  labels:
    app: kolpotoru
    family: pmad
    genre: deploy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kolpotoru
      family: pmad
      genre: pod
  template:
    metadata:
      labels:
        app: kolpotoru
        family: pmad
        genre: pod
    spec:
      containers:
        - name: pmad-pod
          image: phpmyadmin/phpmyadmin
          ports:
            - containerPort: 80
          env:
            - name: PMA_HOST
              value: mysql-service.kolpotoru-prod
          # volumeMounts:
          #   - name: config-volume
          #     mountPath: /etc/phpmyadmin/config.user.inc.php
          #     subPath: config.user.inc.php
          #     readOnly: true
          #   - name: pmad-certificates
          #     mountPath: /etc/pmad/secrets
          resources:
            limits:
              cpu: 100m
              memory: 128M
      # volumes:
      #   - name: pmad-certificates
      #     secret:
      #       secretName: pmad-certs
      #   - name: config-volume
      #     configMap:
      #       name: pmad-configs
---
apiVersion: v1
kind: Service
metadata:
  name: pmad-service
  namespace: kolpotoru-prod
  labels:
    app: kolpotoru
    family: pmad
    genre: service
spec:
  selector:
    app: kolpotoru
    family: pmad
    genre: pod
  type: NodePort
  ports:
    - port: 80
      nodePort: 32151
      name: pmad-port
---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: pmad-ingress
  namespace: kolpotoru-prod
  labels:
    app: kolpotoru
    family: pmad
    genre: ingress
  annotations:
    kubernetes.io/ingress.class: "nginx"
spec:
  tls:
    - secretName: ssl-key-pmad.sustcseoj.com
      hosts:
        - pmad.sustcseoj.com
  rules:
    - host: pmad.sustcseoj.com
      http:
        paths:
          - path: /
            backend:
              serviceName: pmad-service
              servicePort: 80
