apiVersion: v1
kind: Secret
metadata:
  name: pmad-certs
  namespace: kolpotoru-prod
  labels:
    app: kolpotoru
    family: pmad
    genre: secrets
type: Opaque
stringData:
  ca-cert.pem : |
    
  pmad-cert.pem : |
    
  pmad-key.pem: |
    