apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-configs
  namespace: kolpotoru-prod
  labels:
    app: kolpotoru
    family: mysql
    genre: config
data:
  my.cnf: |
    [mysqld]
    pid-file        = /var/run/mysqld/mysqld.pid
    socket          = /var/run/mysqld/mysqld.sock
    datadir         = /var/lib/mysql
    secure-file-priv= NULL
    symbolic-links=0    
    # require_secure_transport=ON
    bind-address=0.0.0.0

    #ssl
    #ssl-cipher=DHE-RSA-AES256-SHA
    #ssl-ca=/etc/mysql/secrets/ca-cert.pem
    #ssl-cert=/etc/mysql/secrets/server-cert.pem
    #ssl-key=/etc/mysql/secrets/server-key.pem

    !includedir /etc/mysql/conf.d/
