apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql-pv-claim-1
  namespace: kolpotoru-prod
  labels:
    app: kolpotoru
    family: mysql
    genre: pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi