apiVersion: v1
kind: Secret
metadata:
  namespace: kolpotoru-prod
  name: mysql-secrets
  labels:
    app: kolpotoru
    family: mysql
    genre: secret
stringData:
  password: a-very-strong-pass
type: Opaque
# ---
# apiVersion: v1
# kind: Secret
# metadata:
#   namespace: kolpotoru-prod
#   name: mysql-certs
#   labels:
#       app: kolpotoru
#       family: mysql
#       genre: deploy
# type: Opaque
# stringData:
#   ca-cert.pem : |
    
#   server-cert.pem : |
    
#   server-key.pem: |