apiVersion: v1
kind: Secret
metadata:
  name: redis-secret
  namespace: kolpotoru-prod
  labels:
    app: kolpotoru
    family: redis
    genre: secret
stringData:
   password: strong-pass
type: Opaque
